nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
   
    margin: 50px 200px;
}
.logo{
    display: flex;
    gap: 20px;
   
}
.logo-photo{
    width: 86.41px;
    height: 40px;
    margin: 10px;
}
.nav-title{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
.nav-text{
    color: #FF42A5;
 
}
ul{
    display: flex;
}
li{
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #3C354F;
    margin-right: 20px;
    cursor: pointer;
   
}
li:hover{
    color: palevioletred;
}
.banner-container{
    display: flex;
    background: #FFF;
   
}
.banner{
   
   
   background: url("images/Group\ 14.png");
    background-repeat: no-repeat;
    padding: 100px;
    width: 981px;
    height: 600px;

}
.banner-title{
    color: #0b0223;
    font-size: 50px;
    font-weight: 600;
    margin-left: 210px;
}
.banner-title2{
    font-size: 95px;
    font-weight: 800;
    margin-top: 40px;
    margin-left: 210px;
    width: 365px;
    height: 111px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.banner-description{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-left: 210px;
}
.banner-photo{
    margin-left: 250px;
    
  

  
}
.btn{
    color: #FFF;
    background: #FF42A5;
    font-size: 20px;
    padding: 21px 40px;
    gap: 10px;
    border-radius: 40px; 
    margin-left: 150px;
}
.btn2{
    background: #4EC5F7;
     padding: 21px 40px;
     gap: 10px;
     border-radius: 40px;
     color: #FFF;
     font-size: 20px;
     font-weight: 600;
     margin-left: 30px;

}
.main-container{
    display: flex;
    justify-content: center;
}
.main-header{
    color: #0b0223;
    font-size: 48px;
}








@media  screen and (max-width:576px) {


    nav ,
    ul ,
    .banner-container, 
    {
        flex-direction: column;
    }
  
    
}