nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
   
    margin: 50px 200px;
}
.logo{
    display: flex;
    gap: 20px;
   
}
.logo-photo{
    width: 86.41px;
    height: 40px;
    margin: 10px;
}
.nav-title{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
.nav-text{
    color: #FF42A5;
 
}
ul{
    display: flex;
}
li{
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #3C354F;
    margin-right: 20px;
    cursor: pointer;
   
}
li:hover{
    color: palevioletred;
}